build
coverage
node_modules
src/api/__generated__
src/i18n/langs-compiled
src/components/apps/releases/release-composer/composeSpecSchema.generated.ts
src/components/apps/releases/release-composer/compose-spec.json
CHANGELOG.md
