{
    "name": "edgehog-ota-event",
    "action": {
        "http_url": "<%= @trigger_url %>",
        "ignore_ssl_errors": false,
        "http_method": "post",
        "http_static_headers": {}
    },
    "simple_triggers": [
        {
            "type": "data_trigger",
            "interface_name": "io.edgehog.devicemanager.OTAEvent",
            "interface_major": 0,
            "on": "incoming_data",
            "match_path": "/*",
            "value_match_operator": "*"
        }
    ]
}
